<div class="modal" id="mapModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title" id="mapModalType"></p>
        </header>
        <section class="modal-card-body">
            <div class="box">
                <div id="map">
                </div>
            </div>
            <div class="box">
                <input class="input is-hidden" type="text" id="originInputField" hidden>
                <input class="input is-hidden" type="text" id="destinationInputField" hidden>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-info" id="mapModalSubmit">Okay</button>
            <button class="button is-danger is-light" id="mapModalClose">Cancel</button>
        </footer>
    </div>
</div>