<html>
    <head>
        <title>TruckMgr - Trips</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="index.css">
        <link rel="stylesheet" href="bulma.min.css">
        <link rel="script" href="index.js">
    </head>
    <body>
        <%- include('navbar.ejs') %>

        <section class="section">
            <div class="container has-text-centered is-mobile">
                <div class="columns">
                    <div class="column is-one-third is-mobile">
                        <div class="box">
                            <h3 class="title is-5 has-text-left">Trips</h3>
                            <div class="box">
                                <form class="form" action="/trips/update_trip" method="post">
                                    <div class="field">
                                        <label class="label" id="test">Select Trip</label>
                                        <div class="control">
                                            <div class="select">
                                                <select name="truck_selected" id="truck_select">
                                                    <option value="new">New Trip</option>
                                                    <% for (var i = 0; i < array.length; i++) { %>
                                                        <option value="<%= array[i]['plate_number'] %>"><%= array[i]['plate_number'] %></option>
                                                    <% } %>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label has-text-left">Plate No.</label>
                                        <div class="control">
                                            <input class="input" type="text" name="plate_number" id="plate_number" placeholder="Plate No.">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label has-text-left">Date</label>
                                        <div class="control">
                                            <input class="input" type="text" name="date" placeholder="Date">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label has-text-left">Account</label>
                                        <div class="control">
                                            <input class="input" type="text" name="account" placeholder="Account">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label has-text-left">Route</label>
                                        <div class="control">
                                            <input class="input" type="text" name="route" placeholder="Route">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label has-text-left">Origin</label>
                                        <div class="control">
                                            <input class="input" type="text" name="origin" placeholder="Origin">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label has-text-left">Destination</label>
                                        <div class="control">
                                            <input class="input" type="text" name="destination" placeholder="Destination">
                                        </div>
                                    </div>
                                    <div class="field is-grouped is-grouped-center has-text-center">
                                        <label class="label"> </label>
                                        <div class="control">
                                            <input class="button is-success" type="submit" value="Update">
                                        </div>
                                        <label class="label"> </label>
                                        <div class="control">
                                            <input class="button is-danger is-light" type="submit" formaction="/trips/drop_trip" value="Drop">
                                        </div>
                                    </div>
                                    
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="column has-text-centered is-mobile">
                        <div class="box">
                            <%- include('table.ejs') %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>