<html>
    <head>
        <title>TruckMgr - Trips</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="index.css">
        <link rel="stylesheet" href="bulma.min.css">
        <script src="index.js"></script>
        <script type="module" src="map.js"></script>
    </head>
    <body>
        <%- include('navbar.ejs') %>
        <section class="section">
            <div class="container is-mobile">
                <div class="columns">
                    <div class="column is-one-third is-mobile">
                        <div class="box">
                            <h3 class="title is-5 has-text-left">Trips</h3>
                            <div class="box">
                                <form class="form" id="tripForm" action="/trips/add_trip" method="post">
                                    <div class="field">
                                        <div class="columns is-mobile">
                                            <div class="column">
                                                <label class="label has-text-left">Select Trip</label>
                                                <div class="control">
                                                    <div class="select">
                                                        <select name="tripSelected" id="tripSelect">
                                                            <option value="new">New Trip</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column">
                                                <label class="label has-text-left">Trip No.</label>
                                                <div class="control">
                                                    <input class="input" min="1" type="number" name="trip_number" id="trip_number" placeholder="No.">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label has-text-left">Plate No.</label>
                                        <div class="control">
                                            <div class="select">
                                                <select name="plate_number" id="plate_number">
                                                    <option value="">---------</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label has-text-left">Date</label>
                                        <div class="control">
                                            <input class="input" type="date" name="date" id="date" placeholder="Date">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label has-text-left">Account</label>
                                        <div class="control">
                                            <input class="input" type="text" name="account" id="account" placeholder="Account">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label has-text-left">Route</label>
                                        <div class="control">
                                            <input class="input" type="text" name="route" id="route" placeholder="Route">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label has-text-left">Origin</label>
                                        <div class="control">
                                            <input class="input" type="text" name="origin" id="origin" readonly placeholder="Origin">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label has-text-left">Destination</label>
                                        <div class="control">
                                            <input class="input" type="text" name="destination" id="destination" readonly placeholder="Destination">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label has-text-left">Trip Mileage</label>
                                        <div class="control">
                                            <input class="input" type="text" name="trip_mileage" id="trip_mileage" placeholder="Trip Mileage">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label has-text-left">Total Mileage</label>
                                        <div class="control">
                                            <input class="input" type="text" name="total_mileage" id="total_mileage" placeholder="Total Mileage">
                                        </div>
                                    </div>
                                    <div class="field is-grouped is-grouped-center has-text-center">
                                        <label class="label"> </label>
                                        <div class="control">
                                            <input class="button is-success" type="submit" value="Update">
                                        </div>
                                        <label class="label"> </label>
                                        <div class="control">
                                            <input class="button is-danger is-light" type="submit" formaction="/trips/drop_trip" id="dropButton" disabled value="Drop">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="column has-text-centered is-mobile">
                        <div class="box">
                            <%- include('table.ejs') %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('map.ejs') %>
        <script>
            const formFields = [
                'trip_number', 'plate_number',
                'date', 'account',
                'route', 'origin',
                'destination', 'trip_mileage',
                'total_mileage'
            ];

            setFormAction('tripSelect', 'tripForm', 'trips/add_trip', 'trips/update_trip');
            retrieveTableData('trips').then(() => {
                setupSelectorOptions('tripSelect', 'trip_number', 'Trip', 'plate_number');
                handleSelectorChange('tripSelect', formFields, 'trip_number');
            });
        </script>
    </body>
</html>