<html>
    <head>
        <title>TruckMgr - Trucks</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="index.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <script src="index.js"></script>
    </head>
    <body>
        <%- include('navbar.ejs') %>
        <section class="section">
            <div class="container is-mobile">
                <div class="columns">
                    <div class="column is-one-third is-mobile">
                        <div class="box">
                            <h3 class="title is-5 has-text-left">Trucks</h3>
                            <div class="box">
                                <form class="form" id="truckForm" action="/trucks/add_truck" method="post">
                                    <div class="field">
                                        <div class="columns">
                                            <div class="column">
                                                <label class="label">Select Truck</label>
                                                <div class="control">
                                                    <div class="select">
                                                        <select name="truck_selected" id="truckSelect">
                                                            <option value="new">New Truck</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column">
                                                <div class="field">
                                                    <label class="label has-text-left">Plate No.</label>
                                                    <div class="control">
                                                        <input class="input" type="text" name="plate_number" id="plate_number" placeholder="Plate No.">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                               
                                    <div class="field">
                                        <label class="label has-text-left">Year Model</label>
                                        <div class="control">
                                            <input class="input" type="text" name="year_model" id="year_model" placeholder="Year Model">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label has-text-left">MV File No.</label>
                                        <div class="control">
                                            <input class="input" type="text" name="mv_filenumber" id="mv_filenumber" placeholder="MV File No.">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label has-text-left">OR No.</label>
                                        <div class="control">
                                            <input class="input" type="text" name="or_number" id="or_number" placeholder="OR Number">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label has-text-left">Make</label>
                                        <div class="control">
                                            <input class="input" type="text" name="make" id="make" placeholder="Make">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label has-text-left">Type</label>
                                        <div class="control">
                                            <input class="input" type="text" name="type" id="type" placeholder="Type">
                                        </div>
                                    </div>
                                    <div class="field is-grouped is-grouped-center has-text-center">
                                        <label class="label"> </label>
                                        <div class="control">
                                            <input class="button is-success" type="submit" id="submitButton" value="Update">
                                        </div>
                                        <label class="label"> </label>
                                        <div class="control">
                                            <input class="button is-danger is-light" type="submit" formaction="/trucks/drop_truck" id="dropButton" disabled value="Drop">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="column has-text-centered is-mobile">
                        <div class="box">
                            <%- include('table.ejs') %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
            const formFields = [
                'plate_number', 'year_model',
                'mv_filenumber', 'or_number',
                'make', 'type'
            ];

            submitButton.addEventListener('click', () => {
                if (!plateNumber) {
                    alert('No plate number entered');
                }
            });

            fetchTableData('trucks').then(() => {
                setupTable('trucks').then(() => {
                    setupSelectorOptions('truckSelect', 'trucks', 'plate_number');
                    handleSelectorChange('truckSelect', formFields, 'plate_number');
                    setFormAction('truckSelect', 'truckForm', 'trucks/add_truck', 'trucks/update_truck');
                });
            })          
            // retrieveTableData('trucks').then(() => {
            //     setupSelectorOptions('truckSelect', 'plate_number', 'Truck');
            //     handleSelectorChange('truckSelect', formFields, 'plate_number');
            // });
        </script>
    </body>
</html>
